<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    .dropdown-menu:li {
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

</style>
</head>
<body>
    {% include 'pages/layouts/navbar.html' %}


<div class="container">
    <hr>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static '\s4.jpg'%}" class="d-block w-100" alt="..." style="height:300px;">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>

            <div class="carousel-item">
              <img src="{% static '\s5.jpg'%}" class="d-block w-100" alt="..." style="height:300px;">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>

            <div class="carousel-item">
              <img src="{% static '\s6.jpg'%}" class="d-block w-100" alt="..." style="height:300px;">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>

          </div>

        </div>
    <hr>
</div>
<hr>






<!-- ============= New Arrivals============== -->
	<h1 style="margin-top: 60px; margin-bottom:30px;"><center>INTERIORS</center></h1>
<div class="container">

	<p>You always have the most wonderful ideas. I don't know how you manage it all. You are always up on the latest trends, and know just the look to achieve to transform a plain room into a beautiful make statement room. You always come up with great ideas and are able to re mind on how I want a room to look.</p>

	<hr>
	<h3 style="margin-top: 20px; margin-bottom:20px;"><center>GLASSWARES</center></h3><hr>
	<div class="row">

	  <div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\g1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>GLASSWARE1</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\g1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>GLASSWARE1</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\g1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>GLASSWARE1</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

	</div>
  </div>
  <hr>



<div class="container">


	<h3 style="margin-top: 20px; margin-bottom:20px;"><center>TABLEWARES</center></h3><hr>
	<div class="row">

	  <div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\t1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>TABLEWARE1</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\t1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>TABLEWARE1</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\t1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>TABLEWARE1</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

	</div>
  </div>
  <hr>




<div class="container">


	<h3 style="margin-top: 20px; margin-bottom:20px;"><center>CERAMICS</center></h3><hr>
	<div class="row">

	  <div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\c1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>VASE1</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\c1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>VASE</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\c1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>VASE</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

	</div>
  </div>
  <hr>





<div class="container">


	<h3 style="margin-top: 20px; margin-bottom:20px;"><center>DECORATIVE ACCESSORIES</center></h3><hr>
	<div class="row">

	  <div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\d1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>ITEM</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\d1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>ITEM</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\d1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>ITEM</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

	</div>
  </div>
  <hr>




	<!-- ============= New Arrivals============== -->
	<h1 style="margin-top: 60px; margin-bottom:30px;"><center>APOTHECARY</center></h1>
<div class="container">

	<p>You always have the most wonderful ideas. I don't know how you manage it all. You arethe latest trends, and know just the look to achieve to transform a plain room into a beautiful make statement room. You always come up with great ideas and are able to read my mind on how I want a room to look.</p>
	<hr>
	<h3 style="margin-top: 20px; margin-bottom:20px;"><center>ESSENTIAL OILS</center></h3><hr>
	<div class="row">

	  <div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\o1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>OIL</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\o1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>OIL</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\o1.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>OIL</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

	</div>
  </div>
  <hr>



<div class="container">


	<h3 style="margin-top: 20px; margin-bottom:20px;"><center>CANDLES</center></h3><hr>
	<div class="row">

	  <div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\c.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>CANDLE</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\c.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>CANDLE</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\c.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>CANDLE</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

	</div>
  </div>
  <hr>



<div class="container">


	<h3 style="margin-top: 20px; margin-bottom:20px;"><center>HERRBAL TEAS</center></h3><hr>
	<div class="row">

	  <div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\tea.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>TEA</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\tea.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>TEA</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

		<div class="col-md-4" style="margin-left: 0px; ">
		<div class="thumbnail">

              <img src="{% static '\tea.jpg'%}" alt="Lights" style="width:100%; padding:6%">
		  </a>
			<div class="caption">
				<h5><center>TEA</center></h5>
				<p><center>price: Rs1000/-</center></p>
			</div>
		</div>
	  </div>

	</div>
  </div>
  <hr>
  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
	<!-- Section: Social media -->
	<section
	  class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
	>
	  <!-- Left -->
	  <div class="me-5 d-none d-lg-block">
		<span>Get connected with us on social networks:</span>
	  </div>
	  <!-- Left -->

	  <!-- Right -->
	  <div>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-facebook-f"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-twitter"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-google"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-instagram"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-linkedin"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-github"></i>
		</a>
	  </div>
	  <!-- Right -->
	</section>
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
	  <div class="container text-center text-md-start mt-5">
		<!-- Grid row -->
		<div class="row mt-3">
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			<!-- Content -->
			<h6 class="text-uppercase fw-bold mb-4">
			  <i class="fas fa-gem me-3"></i>Company name
			</h6>
			<p>
				If your summer bike tour is going to take you through different climates
				 then the UltraLite is a good choice. With a 59″ shoulder girth
				 this efficient bag is good to 20°. The full down collar helps to seal
			</p>
		  </div>
		  <!-- Grid column -->

		  <!-- Grid column -->
		  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Products
			</h6>
			<p>
			  <a href="#!" class="text-reset">Delivery Bags</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Sports Kits</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Utility Bags</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">TravelLite</a>
			</p>
		  </div>
		  <!-- Grid column -->

		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Useful links
			</h6>
			<p>
			  <a href="#!" class="text-reset">Return Policy</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Terms and conditions</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Orders</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Help</a>
			</p>
		  </div>
		  <!-- Grid column -->

		  <!-- Grid column -->
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Contact
			</h6>
			<p><i class="fas fa-home me-3"></i> Nsd smdklf dsfmk, NY 10012, US</p>
			<p>
			  <i class="fas fa-envelope me-3"></i>
			  info@example.com
			</p>
			<p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
			<p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
		  </div>
		  <!-- Grid column -->
		</div>
		<!-- Grid row -->
	  </div>
	</section>
	<!-- Section: Links  -->

	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
	  © 2021 Copyright:
	  <a class="text-reset fw-bold" href="#">Ultralite.in</a>
	</div>
	<!-- Copyright -->
  </footer>
 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>